.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
  }
  
  .dark-mode-toggle:hover {
    background-color: #eee;
  }
  