.feed {
    flex: 0.4;
    border-right: 1px solid var(--x-color);
    min-width: fit-content;
    overflow-y: scroll;
    min-height: 100vh;
    padding-bottom: 10px;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .feed__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--x-color);
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--twitter-background);
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: var(--x-color);
  }
  
  @media (max-width: 768px) {
    .feed {
      flex: 1;
      min-width: 0;
      max-width: 100%;
    }
  }
  
  .app.dark-mode .feed__header {
    background-color: #121212;
    color: #ffffff;
    border-color: #37474f; 
  }
  
  .app.dark-mode .feed__header > h2 {
    color: #ffffff;
  }
  