.widgets {
    flex: 0.3;
}

.Widgets__input{
    display: flex;
    align-items: center;
    background-color: var(--x-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.Widgets__input > input {
    border: none;
    background-color: var(--x-background);
}

.widgets__searchIcon {
    color: gray;
}

.widget__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}

.widget__widgetContainer > h2 {
    font-size: 15px;
    font-weight: 800;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .widgets {
      display: none;
    }
  }
  